body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


img{
    max-width: 100%;
    display: block;
    height:auto;
}
.image-container{
    position: relative;
    width: 600px;
}

.hotspot{
    position: absolute;
    width: 20px;
    height: 20px;
    background:red;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.tooltip{
    position:absolute;
    background: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    font-size:large;
    z-index: 20;
    white-space: nowrap;

}

